:root{
    --Black: #000000;
    --Blue: #1f325c;
    --Red: #f60018;
    --Platinum: #e5e5e5;
    --Silver: #6d6c6c;
    --White: #ffffff;
}

html{
    box-sizing: border-box;
    background-color: var(--Black);
    scroll-behavior: smooth;
}

body{
    margin: 5px;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
    grid-gap: 10px;


    /* border: 2px dashed red; */
}

.underC{
    display: block;
    position: fixed;
    top: 50%;
}
.underC > img {
    transition: transform 0.2s;
}
.underC > img:hover {
    transform: rotate(45deg);
}



/* Top Header */


.top-header {
    grid-column: 1/13;
    display: flex;
    text-align: center;
    max-width: 100%;
    color: var(--Platinum);
    height: 90vh;
    padding: 5vh;
    justify-content: center;
    align-self: center;
    align-items: center;

    /* border: 2px dashed red; */
}

.name {
    font-size: 2.5vw;
    line-height: 8vh;
}


.caption-1{
    font-size: 1.33vw;
    font-weight: 300;
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 2.4px;
}

.caption-2{
    font-size: 0.98vw;
    font-weight: 400;
    padding: 0;
    line-height: 1em;
    letter-spacing: 3.75px;
    margin-bottom: auto;
}

header > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    z-index: -1;
}


/* Navigation */
.main-nav{
    display: grid;
    grid-column: 3/11;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(12,1fr); */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--Black);
    white-space: nowrap;
    height: max-content;

    /* border: 2px dashed red; */

}

.main-nav ul{
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(6,1fr);
    grid-column: 3/11;
    align-self: center;
}

.main-nav a{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--Platinum);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    transition: 0.3s;

}

nav li:hover a {
    background: #f60018;
    padding: 0.8rem;
    border-radius: 5px;
}

.transform{
    background-color:red;
}

.logo{
    text-align: center;
    align-self: center;
    grid-column: 1/3;
}
.logo h4 {
    color:#aa0415;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;
    grid-column: 1/3;

}



/* About Me */

.aboutme{
    display: grid;
    grid-column: 3/11;
    grid-gap: 3vw;

    grid-template-columns: 1fr 1fr;

    /* border: 2px dashed red; */

}

.info-pic{
    justify-self: end;
    padding: 20px;

    /* border: 2px dashed red; */
}

.myPic {
    width: 16rem;
    border-radius: 50%;

    /* border: 2px dashed red; */
}

.info{
    width: 300px;
    height: auto;
    margin-top: 1em;
    color: #e5e5e5;
    text-align: justify;
    line-height: 1.3em;

    /* border: 2px dashed red; */
}

.skills{
    width: 18vw;
    margin: 2vh 0;
    color: azure;
    list-style: none;

    /* border: 2px dashed red; */
}

.skills li{
    margin: 20px 0;
}

li > h3{
    margin: 5px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 3px;
    float: left;
    background: #2187e7;
}

.appledev{
    width: 35%;
    animation: appledev 2s;
}

.angular{
    width: 20%;
    animation: angular 2s;
}


.htmlcssjs{
    width: 80%;
    animation: htmlcssjs 2s;
}

.react{
    width: 10%;
    animation: react 2s;
}

.java{
    width: 10%;
    animation: java 2s;
    margin: 0;
}

.flutter{
    width: 5%;
    animation: flutter 2s;
}

li > img{
    width: 40px;
}

li > h3 {
    font-size: 15px;
}

@keyframes appledev {
    0%{
        width: 0;
    }
    100%{
        width: 35%;
    }
}

@keyframes angular {
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}

@keyframes htmlcssjs {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

@keyframes react {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}

@keyframes java {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}

@keyframes flutter {
    0%{
        width: 0;
    }
    100%{
        width: 5%;
    }
}



/* YouTUbe */

.youtube{
    display: grid;
    grid-column: 3/11;

    grid-gap: 1rem;
    grid-template-rows: 0.3fr 1fr;


    /* border: 2px dashed red; */
}

.youtube h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: #e5e5e5;

    /* border: 2px dashed red; */
}


.videoContainer{
    display: flex;
    justify-self: center;
}

.video-1{
    border-radius: 0.5em;
    width: 100%;
    overflow: hidden;
    margin: 0 1rem;
}

.video-1{ transition: all .1s ease-in-out; }
.video-1:hover{ transform: scale(1.1); }




/* My Apps */

.myapps{
    display: grid;
    grid-column: 3/11;
    grid-gap: 1rem;
    grid-template-rows: 0.3fr 1fr;
}

.myapps h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: #e5e5e5;
}

.appContainer{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    gap: 20px;
}

.app {
    background-color:transparent;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.5; 
}

.app img {
    border-radius: 50px;
    max-width: 100px;
    margin-bottom: 10px;
}

.app h3 {
    color: rgb(206, 206, 206);
    font-size: 20px;
    margin: 10px 0;
}

.app p {
    font-size: 16px;
    color: #9e9e9e;
}

.app-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.app-link:hover {
    background-color: #0056b3;
}



/* Blog */
/* Blog with Black Background */

.blog {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-column: 3/11;
    grid-gap: 1rem;
    grid-template-rows: 0.3fr 1fr;
    padding: 20px; /* Adjust padding as needed */
}

.blog h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    /* Remove or adjust the color property if needed */
}

.blogContainer {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-entry {
    background-color: transparent; 
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.blog-entry img {
    max-width: 100px;
    margin-bottom: 10px;
}

.blog-entry h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #fff; /* Text color for headings */
}

.blog-entry p {
    font-size: 16px;
    color: #ccc; /* Text color for content */
}

.blog-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.blog-link:hover {
    background-color: #0056b3;
}


/* Contact */

.contact {
    display: grid;
    grid-column: 3/11;
    grid-gap: 1rem;
    grid-template-rows: 0.3fr 1fr;
    text-align: center;
    padding: 40px;
}

#form {
    display: inline-block;
    background-color: var(--Black);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

legend {
    font-size: 24px;
    color: var(--Platinum);
}

.contact-info {
    font-size: 18px;
    color: var(--Platinum);
}

.contact-email {
    color: var(--Red);
    text-decoration: none;
    transition: color 0.3s;
}

.contact-email:hover {
    color: var(--White);
}

/* Footer */

footer {

    display: grid;
    grid-column: 3/11;

    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 10px;
    color: #ffffff;

    /* border: 2px dashed red; */
}

.footerClass{
    color: #aa0415;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 10px auto;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.rights-text{
    margin: 10px auto;
}

.social-media img{
    width: 30px;
    height: auto;
}



















/**************** Responsive ****************/

@media screen and (max-width: 1280px){
    .main-nav, .aboutme, .youtube, .portfolio, .blog, .contact, footer{
        grid-column: 2/12;
    }
    .skills{
        width: 25vw;
    }
    .skills{
        width: 35vw;
    }
    .name {
        font-size: 4vw;
    }
    .caption-1{
        font-size: 2.1vw;
    }
    .caption-2{
        font-size: 1.55vw;
    }
}
@media screen and (min-width: 981px){
    .resp-nav{
        display: none;
    }
}

@media screen and (max-width: 980px){
    .main-nav, .aboutme, .youtube, .myapps, .blog, .contact, footer{
        grid-column: 1/13;
    }

    .main-nav{
        display: none;
    }

    /* ******************* HAMBURGER MENU  ****************** */

    .resp-nav{
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 99;
        cursor: pointer;
    }

    .icon-holder{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: var(--Blue);

        box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    }

    .icon-holder:hover{
        background: var(--Red);
        transition: all 0.2s ease;
    }

    .fronticon{
        width: 60px;
        height: 60px;
        background: var(--Red);
    }

    .icon-holder i{
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        /*font-style: 25px;*/
        color: var(--Platinum);
    }
    .resp-menu-options{
        list-style: none;

        margin: 0;
        position: absolute;
        bottom: 70px;
        right: 0;


        opacity: 0;

        transition: all 0.3s ease ;
        transform: scale(0);
        transform-origin: 85% bottom;
    }

    .fronticon:hover + .resp-menu-options, .resp-menu-options:hover{
        opacity: 1;
        transform: scale(1);
    }

    .resp-menu-options li ,.resp-menu-options a {
        display: flex;
        justify-content: flex-end;
        padding: 3px;
        text-decoration: none;
    }

    .menu-label{
        padding: 2px 5px;
        align-self: center;
        user-select: none;
        white-space: nowrap;
        border-radius: 5px;
        font-size: 16px;
        background: var(--Silver);
        color: var(--Platinum);
        box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        margin-right: 10px;
    }



    /* ******************* HAMBURGER MENU  ****************** */
}

@media screen and (max-width: 750px){




    .youtube{
        grid-template-rows: 100px 1fr;
    }
    .videoContainer{
        flex-direction: column;
    }
    .video-1 {
        margin: 2vw 0;
        width: 70vw;
        height: 40vh;
    }

    .name {
        font-size: 6vw;
    }
    .caption-1{
        font-size: 3.2vw;
    }
    .caption-2{
        font-size: 2.3vw;
    }

    .aboutme{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1vh;
    }
    .info-pic{
        justify-self: center;
        width: 50vw;
        padding: 0;
    }
    .skills{
        justify-self: center;
        width: 50vw;
    }
    .info{
        width: 50vw;
        margin: 1em auto;
    }
    .myPic{
        margin: 1em auto;
    }
}

@media screen and (max-width: 480px){
    .video-1{
        height: 20vh;
    }
    .name {
        font-size: 7vw;
        line-height: 1em;
    }
    .caption-1{
        font-size: 4.1vw;
    }
    .caption-2{
        font-size: 3vw;
        font-weight: 600;
        line-height: 1.5em;
    }
}

