/*** Colors ***//***

Registration Black      #000000
Yankees Blue            #14213d
Vivid Red               #f60018
Platinum                #e5e5e5
Silver Chalice          #afafaf
White                   #ffffff

/*** Colors ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}



hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width: 60%;
    position: relative;
    left: 20%;

}

.home {
    position: relative;
    text-align: center;
    max-width: 100%;

    /*border: 2px dashed red;*/
}

.title {
    display: flex;
    flex-direction: column;
    color: #afafaf;
    height: 100vh; /*make the header full screen */
    padding: 5vh;

    /*border: 2px dashed red;*/
}

.home  h2 , h5 , h4 {
    margin: 0 auto;
    align-items: center;
}

.home h2 {
    margin-top: auto;
    font-size: 35px;
}

.home h2 span {
    font-size: 1.2em;
}

.home h4 {
    font-size: 22px;
    font-weight: 300;
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 2.4px;
}

.home h5 {
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    line-height: 2em;
    letter-spacing: 3.75px;
    margin-bottom: auto;
}

.arrow{
    position: relative;
}
.arrow img{
    width: 50px;
    height: auto;
    transition: 0.3s;
    border-radius: 50%;
}
.arrow img:hover{
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 50px;
    height: auto;
}

/************************** under construction TEXT ********************/
.title h3 {
    color: #f60018;
    letter-spacing: 15px;
    font-style: italic;
}

/************************** under construction TEXT ********************/


/************************** START navigation bar ******************************/

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    height: 10vh;
    background: #000000;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    padding-right: 22em;
    /*border: 2px dashed red;*/
}

.main-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    list-style: none;
    height: 100%;

    white-space: nowrap;
}

nav li a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

nav li:hover a {
    background: #f60018;
    padding: 5px;
    border-radius: 5px;
}

.logo h4 {
    color: #aa0415;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;

}

/************************** END navigation bar ******************************/


/************************** START About ME ******************************/

.aboutMe {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px;
    width: 100%;

    /* border: 2px dashed red; */
}
.anchor-1{
    display: flex;
    flex-basis: 55%;

    /* border: 2px dashed white; */
}
.infoAndPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    vertical-align: text-bottom;
    padding: 20px;
    margin: 0 auto;

    /*border: 2px dashed red;*/
}

.myPic {
    width: 300px;
    border-radius: 50%;

    /*border: 2px dashed red;*/
}

.info{
    width: 300px;
    height: auto;
    margin-top: 1em;
    color: #e5e5e5;
    text-align: justify;

    /* border: 2px dashed red; */
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    vertical-align: text-bottom;
    padding: 20px;
    margin: 0 auto;

    /*border: 2px dashed red;*/
}

.skillContainer {
    width: 380px;
    height: auto;
    padding: 20px;
}

.htmlLogo, .cssLogo, .jsLogo, .javaLogo {
    width: 40px;
    margin-bottom: 5px;
}


/*****ENDE: About ME *****/

/********************************* START Section: YouTube *****************/
.youTube {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px;
    max-width: 100%;

    /* border: 2px dashed red; */
}

.anchor-2{
    display: flex;
    flex-direction: column;

    /* border: 2px dashed white; */
}

.youTube h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    margin: 2em auto;
    color: #e5e5e5;

    /* border: 2px dashed red; */
}

.videoContainer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;


    /* border: 2px dashed red; */
}

.video-1, .video-2, .video-3 {
    width: 350px;
    height: 190px;
    /* overflow: hidden; */
    background-color: #303030;
    border-radius: 1em;
    margin: 0 30px;
}


/********************************* END Section: YouTube *****************/

/********************************* START Section: Portfolio *****************/
.portfolio{
    display: flex;
    justify-content: center;
    height: auto;
    margin: 20px;
    padding: 10px;
    max-width: 100%;


    /* border: 2px dashed red; */
}

.anchor-3{
    display: flex;
    flex-direction: column;

    /* border: 2px dashed white; */
}


.portfolio h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: #e5e5e5;
    margin: 2em auto

    /* border: 2px dashed red; */
}

.portfolioContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;

    /* border: 2px dashed red; */
}

.portfolio-1, .portfolio-2, .portfolio-3 {
    width: 350px;
    height: 190px;
    overflow: hidden;
    background-color:#303030;
    border-radius: 1em;
    margin: 0 30px;
}


/********************************* END Section: Portfolio *****************/

/********************************* START Section: blog *****************/

.blog{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px;
    max-width: 100%;


    /* border: 2px dashed red; */
}

.anchor-4{
    display: flex;
    flex-direction: column;

    /* border: 2px dashed white; */
}


.blog h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: #e5e5e5;
    margin: 2em auto
    /* border: 2px dashed red; */
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;

    /* border: 2px dashed red; */
}

.blog-1, .blog-2, .blog-3 {
    width: 350px;
    height: 190px;
    overflow: hidden;
    background-color:#303030;
    border-radius: 1em;
    margin: 0 30px;
}


/********************************* END Section: blog *****************/


/*****Section: contact *****/

.contact{
    display: flex;
    justify-content: center;
    height: auto;
    margin: 100px 0px;
    padding: 10px;
    max-width: 100%;


    /* border: 2px dashed red; */
}

.contact h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

fieldset{
    height: auto;
    width: 50%;
    margin: 10px auto;
    padding: 20px 30px;

    /* border: 2px dashed red; */
}

legend{
    padding: 10px;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #e5e5e5;
}

input[type=text] , input[type=email] , select , textarea {

    display: block;
    margin: 15px auto;
    padding: 10px 10px 10px 20px;
    border: 0;
    width: 100%;
    background-color: #222222;
    font-size: 16px;
    color: #e5e5e5;
    border-radius: 10px;

}

input[type=submit] {

    background-color: #f60018;
    width: 100%;
    color: #e5e5e5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 2px 3px 5px rgba(48, 48, 48, 0.5);
    letter-spacing: 0.2em;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #540415;
}

input.error,
textarea.error {
    outline: none;
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

/*****ENDE: contact *****/

/**************** ENDE: MAIN ****************/

/**************** FOOTER ****************/


.footer-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 10px;
    color: #ffffff;
    align-items: center;

    /* border: 2px dashed red; */
}

.footerClass{
    color: #aa0415;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 10px auto;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.rights-text{
    margin: 10px auto;
}

.social-media img{
    width: 30px;
    height: auto;
}



/**************** ENDE: FOOTER ****************/








































/**************** Responsive ****************/





/*************************************************************** max-width: 1024px **********************/

@media screen and (max-width: 1024px) {

    nav{
        padding: 0;
    }
    /***************************** HOME *****************************/
    .title{
        height: 100%;
        padding: 2vh;
    }
    .home h2{
        margin-top: 50px;
    }
    .home h5 {
        margin-bottom: 50px;
    }
    .title h3{
        font-size: 20px;
    }

    .main-menu {
        width: 80%;
    }


    /********************** Section: YouTube *********************/
    .anchor-2{
        flex-basis: 100%;
    }

    .videoContainer {
        height: 100%;
        margin-bottom: 1vh;
    }

    .youTube h4{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin: 0;
    }

    .video-1, .video-2, .video-3 {
        width: 250px;
        height: auto;
        border-radius: 5%;
        margin: 0 0.5vw;
    }
    /**************************************************************/

    /********************* Section: Portfolio *********************/
    .anchor-3{
        flex-basis: 100%;
    }

    .portfolioContainer {
        height: 100%;
        margin-bottom: 1vh;
    }

    .portfolio h4{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin: 0;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 250px;
        height: 160px;
        margin: 0 0.5vw;
        border-radius: 5%;
    }

    /**************************************************************/

    /*********************** Section: Blog ************************/
    .anchor-4{
        flex-basis: 100%;
    }

    .blogContainer {
        height: 100%;
        margin-bottom: 1vh;
    }

    .blog h4{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin: 0;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 250px;
        height: 160px;
        margin: 0 0.5vw;
        border-radius: 5%;
    }

    /**************************************************************/

    /*********************** Section: Contact ************************/
    .contact{
        margin: 20px;
    }
    /**************************************************************/
}


/*************************************************************** max-width: 850px **********************/

@media screen and (max-width: 850px) {

    /*********************** Section: Blog ************************/
    .home h3 {         /** for 'under struction' sentence **/
        letter-spacing: normal;
    }

    .aboutMe{
        padding: 0;
        width: 100%;
        align-content: center;
    }
    .infoAndPic{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .myPic{
        margin: 0 auto;
    }
    .info{
        width: 70vw;
        margin: 0 auto;
        margin-top: 2%;
    }
    .html , .css , .javaScript , .java{
        width: 70vw;
    }
    .skills{
        display: flex;
        width: 70vw;
        padding: 0;
        margin: 0 auto;
    }
    .skillContainer{
        padding: 0;
    }

    input[type=text], select, textarea {
        width: 65%;
    }


    /***************************** NAV *****************************/
    nav{
        display: flex;
        height: auto;
        position: relative;
    }
    .main-menu {
        position: relative;
        height: auto;
        background: #292929;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color:
                #e5e5e5;
    }

    .logo {
        display: 1;
    }

    /****************************************************************/

    /*************************** ABOUT ME **************************/
    .aboutMe{
        display: flex;
        justify-content: center;
        height: auto;
        margin: 0px;
        padding: 10px;
        width: auto;
    }
    .anchor-1{
        flex-direction: column;
        flex-basis: 0%;
    }
    .infoAndPic{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 ;
    }
    .info{
        width: auto;
        margin-top: 10%;
    }
    .html , .css , .javaScript , .java{
        width: 60vw;
    }
    .myPic{
        margin: 0 auto;
        width: 200px;
    }

    .skills{
        width: auto;
    }

    .skillContainer{
        width: auto;
    }
    /****************************************************************/

    /********************** Section: YouTube *********************/
    .anchor-2{
        flex-basis: 100%;
    }

    .videoContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .video-1, .video-2, .video-3 {
        width: 450px;
        height: 250px;

        margin: 0.8vh 0;
    }

    /**************************************************************/

    /********************* Section: Portfolio *********************/
    .portfolioContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 350px;
        height: 180px;

        margin: 0.8vh 0;
    }
    /****************************************************************/

    /*********************** Section: Blog ************************/
    .blogContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 450px;
        height: 250px;

        margin: 0.8vh 0;
    }

    /****************************************************************/

    /*********************** Section: Contact ************************/
    .fieldset{
        width: 70%;
    }

    input[type=text], select, textarea {
        width: 100%;
    }
    /**************************************************************/

}
/*********************************************************** max-width: 450px **********************/

@media screen and (max-width: 450px) {

    /* .home h2 {
        font-size: 25px;
    }
    .home h4 {
        font-size: inherit;
    }
    .home h5 {
        font-size: inherit;
    }
    .home h3 {         /** for 'under struction' sentence *
        letter-spacing: normal;
        font-size: inherit;
    } */


    /********************** Section: YouTube *********************/
    .anchor-2{
        flex-basis: 50%;
    }

    .videoContainer {
        height: 100%;
        margin-bottom: 1vh;
    }

    .youTube h4{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin: 0;
    }

    .video-1, .video-2, .video-3 {
        width: 400px;
        height: 250;
        border-radius: 5%;
        margin: 10px;
    }
}
/**************************************************************/
/********************* Section: Portfolio *********************/
.anchor-3{
    flex-direction: column;
}
.portfolioContainer {
    height: 100%;
    margin-bottom: 2.5vh;
}

.portfolio-1, .portfolio-2, .portfolio-3 {
    width: 350px;
    height: 190px;
}
/****************************************************************/

/*********************** Section: Blog ************************/
.anchor-4{
    flex-direction: column;
}
.blogContainer {
    height: 100%;
    margin-bottom: 2.5vh;
}

.blog-1, .blog-2, .blog-3 {
    width: 350px;
    height: 190px;
}

/****************************************************************/

/*********************** Section: Contact ************************/
.fieldset{
    height: auto;
    width: 100%;
    margin: 10px auto;
    padding: 20px 30px;
}

input[type=text], select, textarea {
    width: 100%;
}
/**************************************************************/




/************************************ max-width: 350px **********************************/

/********* Home *********/


@media screen and (max-width: 350px) {
    .home h2 {
        font-size: 20px;
    }
    .home h4 {
        font-size: 12px;
        letter-spacing: 0.11em;
        font-weight: 600;
    }
    .home h5 {
        font-size: 11px;
        letter-spacing: 0.075em;
        font-weight: 600;
    }
    .home h3 {         /** for 'under struction' sentence **/
        letter-spacing: normal;
        font-size: inherit;
    }


    /********* nav *********/






    /****************************************************************/

    .videoContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .video-1, .video-2, .video-3 {
        width: 350px;
        height: 200px;

        margin: 0.8vh 0;
    }

    .youTube > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /**************************************************************/
    .portfolioContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 350px;
        height: 200px;;

        margin: 0.8vh 0;
    }

    .portfolio > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /****************************************************************/
    .blogContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 350px;
        height: 200px;

        margin: 0.8vh 0;
    }

    .blog > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /****************************************************************/

    .aboutMe{
        padding: 0;
        width: 100%;
    }
    .infoAndPic{
        display: flex;
        flex-direction: column;
        margin: 0 ;
    }
    .info{
        width: 70vw;
        margin-top: 20%;
    }
    .html , .css , .javaScript , .java{
        width: 60vw;
    }
    .myPic{
        margin: 0 auto;
        width: 200px;
    }


    input[type=text], select, textarea {
        width: 100%;
    }
}
