/*** Colors ***//***

Registration Black      #000000
Yankees Blue            #14213d
Vivid Red               #f60018
Platinum                #e5e5e5
Silver Chalice          #afafaf
White                   #ffffff

/*** Colors ***/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: 1px dotted #505050;
}

.banner {
    position: relative;
    text-align: center;

    max-width: 100%;


    /* border: 2px dashed red; */
}


.banner .welcome {

    color: #afafaf;
    height: 100vh; /*make the header full screen */
    padding: 5vh;

    /* border: 2px dashed red;  */
}

.welcome {

    display: flex;
    flex-direction: column;
}

.banner h2, h4, h5 {

    margin: 0 auto;
    align-items: center;


}

.banner h2 {
    margin-top: auto;
    font-size: 35px;
}

.banner h2 span {
    font-size: 1.2em;
}

.banner h4 {
    font-size: 22px;
    font-weight: 300;
    /* margin: 0; */
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 2.2px;
}

.banner h5 {
    font-size: 15px;
    font-weight: 400;
    /* margin: 0; */
    padding: 0;
    line-height: 2em;
    letter-spacing: 3.65px;
    margin-bottom: auto;
}

/************************** under construction TEXT ********************/
.welcome h3 {
    color: #f60018;
    letter-spacing: 15px;
    font-style: italic;
}

/************************** under construction TEXT ********************/


/************************** START navigation bar ******************************/

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    height: 10vh;
    background: #000000;
    position: sticky;
    top: 0px;

    /*border: 2px dashed red;*/
}

.main-menu {

    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    list-style: none;

    height: 100%;
    padding: 0;
    margin: 0 ;
    white-space: nowrap;

}


nav li a {

    text-decoration: none;
    color: #e5e5e5;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo {
    color: #aa0415;
    letter-spacing: 2px;
    /* margin-left: 5%; */
}

.logo h4 {
    font-size: 20px;
    font-weight: bold;
}

/************************** END navigation bar ******************************/


.skillContainer {
    padding: 20px;
}


/****************MAIN ****************/
main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 20px;
    box-sizing: border-box;

    color: #e5e5e5;

    /* border: 2px dashed red;  */
}

/*****Section: About ME *****/
.aboutMe {
    text-align: justify;
    padding: 10px;


    /* border: 2px dashed red;  */
}


.myPic {
    width: 250px;
    border-radius: 50%;
    margin-left: 1.7em;
}

.infoAndPic {
    display: inline-block;
    vertical-align: text-bottom;
    width: 30%;
    padding: 20px;
    margin-left: 10%;


    /* border: 2px dashed red;  */

}

.skills {
    display: inline-block;
    width: 40%;
    margin-left: 10%;

    /* border: 2px dashed red;  */
}

.htmlLogo, .cssLogo, .jsLogo, .javaLogo {
    width: 40px;
    margin-bottom: 5px;
}


/*****ENDE: About ME *****/

/********************************* START Section: YouTube *****************/
.youTube h4 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin: 0 0 5px 0;

}

.videoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 250px;

    /*border: 2px dashed red;*/
}

.video-1, .video-2, .video-3 {
    width: 350px;
    height: 190px;
    overflow: hidden;
    background-color: #303030;
    border-radius: 1em;
    margin: 0 auto;
}


/********************************* END Section: YouTube *****************/

/********************************* START Section: Portfolio *****************/
.portfolio h4 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin: 0 0 10px 0;
}

.portfolioContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 250px;

    /*border: 2px dashed red;*/
}

.portfolio-1, .portfolio-2, .portfolio-3 {
    width: 350px;
    height: 190px;
    overflow: hidden;
    background-color: #303030;
    border-radius: 1em;
    margin: 0 auto;
}



/********************************* END Section: Portfolio *****************/

/********************************* START Section: blog *****************/
.blog h4 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin: 0 0 10px 0;
}

.blogContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 250px;

    /*border: 2px dashed red;*/
}

.blog-1, .blog-2, .blog-3 {
    width: 350px;
    height: 190px;
    overflow: hidden;
    background-color: #303030;
    border-radius: 1em;
    margin: 0 auto;
}

/********************************* END Section: blog *****************/


/*****Section: contact *****/


.contact h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: auto;
    width: 70%;
    margin: 0px auto;
    /* border: 2px dashed red;  */
}

input[type=text] , input[type=email] , select , textarea {

    display: block;
    margin: 15px auto;
    padding: 10px 10px 10px 20px;
    border: 0;
    width: 100%;
    background-color: #222222;
    font-size: 16px;
    color: #e5e5e5;
    border-radius: 10px;

}

input[type=submit] {

    background-color: #f60018;
    width: 60%;
    color: #e5e5e5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 2px 3px 5px rgba(48, 48, 48, 0.5);
    letter-spacing: 0.2em;
}

input[type=submit]:hover {
    background-color: #aa0415;
}


fieldset{


    height: auto;
    width: 70%;
    margin: 10px auto;
    padding: 20px 30px;

/* border: 2px dashed red;*/
}

legend{
    padding: 10px;
    font-size: 20px;
    letter-spacing: 0.2em;
}

/*****ENDE: contact *****/

/**************** ENDE: MAIN ****************/

/**************** FOOTER ****************/


footer {
    padding: 10px;
    text-align: center;
    color: #ffffff;
    flex-shrink: 0;

    /* border: 2px dashed red;  */
}





/**************** ENDE: FOOTER ****************/


/**************** Responsive ****************/



/*************************************************************** max-width: 1024px **********************/

@media screen and (max-width: 1024px) {
    .main-menu {
        width: 80%;
    }
    /****************************************************************/
    .videoContainer {
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .video-1, .video-2, .video-3 {
        width: 260px;
        margin: 0.8vh 0;
        border-radius: 5%;
    }

    /**************************************************************/
    .portfolioContainer {
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 260px;
        margin: 0.8vh 0;
        border-radius: 5%;
    }

    /****************************************************************/
    .blogContainer {
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 260px;
        margin: 0.8vh 0;
        border-radius: 5%;
    }

    /****************************************************************/

}

/*************************************************************** max-width: 768px **********************/

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .main-menu {
        position: absolute;
        height: auto;
        background: rgba(34, 34, 34, 0.82);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: #e5e5e5;
    }

    .logo {
        display: none;
    }

    /****************************************************************/
    .videoContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .video-1, .video-2, .video-3 {
        width: 450px;
        height: 250px;

        margin: 0.8vh 0;
    }

    /**************************************************************/
    .portfolioContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 450px;
        height: 250px;

        margin: 0.8vh 0;
    }

    /****************************************************************/
    .blogContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 450px;
        height: 250px;

        margin: 0.8vh 0;
    }

    /****************************************************************/
    .banner h3 {         /** for 'under struction' sentence **/
        letter-spacing: normal;
    }

    .aboutMe{
        padding: 0;
        width: 100%;
        align-content: center;
    }
    .infoAndPic{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .myPic{
        margin: 0 auto;
    }
    .info{
        width: 70vw;
        margin: 0 auto;
        margin-top: 2%;
    }
    .html , .css , .javaScript , .java{
        width: 70vw;
    }
    .skills{
        display: flex;
        width: 70vw;
        padding: 0;
        margin: 0 auto;
    }
    .skillContainer{
        padding: 0;
    }

    input[type=text], select, textarea {
        width: 65%;
    }
}

/*************************************************************** max-width: 400px **********************/

@media screen and (max-width: 450px) {
    .banner h2 {
        font-size: inherit;
    }
    .banner span {
        font-size: inherit;
    }
    .banner h4 {
        font-size: inherit;
    }
    .banner h5 {
        font-size: inherit;
    }
    .banner h3 {         /** for 'under struction' sentence **/
        letter-spacing: normal;
        font-size: inherit;
    }

    /****************************************************************/
    .videoContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .video-1, .video-2, .video-3 {
        width: 350px;
        height: 200px;

        margin: 0.8vh 0;
    }

    .youTube > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /**************************************************************/
    .portfolioContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .portfolio-1, .portfolio-2, .portfolio-3 {
        width: 350px;
        height: 200px;;

        margin: 0.8vh 0;
    }

    .portfolio > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /****************************************************************/
    .blogContainer {
        flex-direction: column;
        height: 100%;
        margin-bottom: 2.5vh;
    }

    .blog-1, .blog-2, .blog-3 {
        width: 350px;
        height: 200px;

        margin: 0.8vh 0;
    }

    .blog > h4{
        font-size: inherit;
        font-weight: 600;
    }

    /****************************************************************/

    .aboutMe{
        padding: 0;
        width: 100%;
    }
    .infoAndPic{
        display: flex;
        flex-direction: column;
        margin: 0 ;
    }
    .info{
        width: 70vw;
        margin-top: 20%;
    }
    .html , .css , .javaScript , .java{
        width: 60vw;
    }
    .myPic{
        margin: 0 auto;
        width: 200px;
    }


    input[type=text], select, textarea {
        width: 100%;
    }


}